data/*
*/*.pyc
*cache*
.venv
*.pkl
*.h5
*.keras
*.csv
gpu_computing/audio_mnist/AudioMNIST/recordings/*
gpu_computing/image_loads/500images/*
*/data/*
**/*.pth
**/*.gz
**/*.zip
**/*.tgz
**/data/*

# intelliJ
.idea